@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-yellow-primary : #F9C06A;
  --color-brown-primary : #6F4E37;
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

/* @media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
} */

body {
  background: var(--background);
  color: var(--foreground);
  /* font-family: Arial, Helvetica, sans-serif; */
  font-family: inherit;
}

.hide-scrollbar::-webkit-scrollbar {
  display: none;
}

.hide-scrollbar {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}

/* ✅ Add this block at the bottom */
@layer utilities {
  .font-playfair {
    font-family: var(--font-playfair), serif;
  }
  .custom-hero-bg {
    background-image: url('/img/bg-main.png');
    background-size: 1200px auto; /* or 80% 100%, etc. */
    background-position: center;
    background-repeat: no-repeat;
  }
}
